@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6WXV0poK5.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

:root {
    font-size: 16px;
    font-family: 'Montserrat';
    --text-primary: white;
    --bg-primary: gray;
    --nav-bg-primary: black;
    --distance: 15vw;
}

body {
    color: white;
    background-color: gray;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track{
    background: gray;
}

body::-webkit-scrollbar-thumb {
    background:black;
}

main {
    margin-left: var(--distance);
    padding: 1rem;
}

ul {
    list-style-type: none;
}

.navbar {
    width: var(--distance);
    height: 100vh;
    position: fixed;
    background: var(--nav-bg-primary);
    display: flex;
    flex-direction: column;
}

.navbar-nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-nav:last-child {
    margin-top: auto;

}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-item {
    
    list-style: none;
}

.info-container {
    background: red;
}

.info-container:last-child {
    margin-top: auto;
}

.info-container:first-child {
    margin: auto;
}